.botones-citas button{
    margin: .5rem auto;
    width: 10rem;
}


@media (min-width: 854px) {
    .inputs-images{        
        margin-top: 2rem;
    }
    .grid-container{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2,1fr);        
    }
    .rabbit-image{
        grid-column: 1/2;        
        width: 330px;
        height: 330px;
    }
    .adopcion{
        grid-column: 2/3;        
        text-align: left;
    } 

    .botones-citas button{
        margin: 1rem 0;
        width: 15rem;
    }
    .botones-citas{        
        margin: 0;
        gap: 1rem;    
    }
    
}