
.hacer-cita{
    height: 3.5rem;
    margin: 0 1rem 1rem 1rem;
    padding: 0 1.5rem;
    outline: none;
    border-radius: 50px;
    border: 1px solid #f65875;    
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;        
}
.botones-citas{
    display: flex;
    flex-direction: column;
    width: 15rem;
    justify-content: center;
    margin: auto;    
}
.hacer-cita--colorbg,
.botones-citas :hover{
    height: 3.5rem;    
    padding: 0 1.5rem;
    outline: none;
    border-radius: 50px;
    border: 1px solid #f65875;
    background-color: #f65875;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
}
.hacer-cita--colorbg:hover{
    border: 1px solid #e63f5d;
    background-color: #e63f5d;
}
.footer-principal{
    background-image: url(../../assets/footer-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom;  
    background-size: cover; 
    
}
.contactese-con{
    margin: 0 1rem 1rem 0.5rem;    
}
.menu-contactese{
    margin-top: 2.5rem;
}
.list-footer li{
    list-style: none;
    margin: 0 1rem 1rem 0.5rem;
}
.mapa-veterinaria{
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

}
.panda{
    background-image: url(../../assets/logo-vet-clinic.svg);
    width: 7.5rem;
    height: 4rem;
    background-repeat: no-repeat;
    margin-top: 2rem; 
    
}
.ancor-footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.solicitud{
    text-align: center;
} 

.ancor-footer a{    
    text-decoration: none;
    color: #fff;
}
.ancor-iconos a,i{
    text-decoration: none;
    margin: 0 1rem 1rem 0.2rem;   
    color: #fff;    
}
.ancor-iconos{
    margin: 2rem 0;    
    
    font-size: 1rem;
}
.copyright{
    margin: 3rem 0 0;
    padding: 0 1rem 2rem;
}
.copyright-info{
    text-align: center;
    margin: 0;
    color: #fff;
    font-size: .8rem;
}
.footer-limit{
    max-width: 1024px; 
    margin: 0 auto;
    padding: 0 1rem;
}
.list-footer{
    text-align: center;
}

@media (min-width: 854px) {

    .list-footer{
        display: flex;
        justify-content: space-around;                
    }   
    .mapa-veterinaria{
        display: flex;
        justify-content: center;
        margin-top: 1rem;        
    }
    .enlaces-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        gap: 1.5rem;
    }
    .enlaces-servicios{
        display: flex;        
        align-items: center;
    }
    .enlaces-servicios a{
        flex-direction: row;
    }
    
    .contenedor{
        max-width: 60rem;
        margin: 0 auto;
    }
    .ancor-footer{       
        flex-direction: row;
    }    

}